/** { border: 1px solid black; }*/

/*--------------------------------------------------
---------------------------------------------------
---------------------------------------------------
                  Global
----------------------------------------------------
----------------------------------------------------
----------------------------------------------------**/

body, html {
  height: 100%;
}

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  /* For browsers that do not support gradients */
  background: #9A4198;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(#9A4198, #D67DB3);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(#9A4198, #D67DB3);
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(#9A4198, #D67DB3);
  /* Standard syntax */
  background: linear-gradient(#9A4198, #D67DB3);
  margin: 0;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}

#logo_btn {
  margin-left: -6px;
  opacity: 1;
  margin-top: -1px;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: inherit;
  border: none;
}

button:focus {
  outline: none;
}

/*--------------------------------------------------
---------------------------------------------------
---------------------------------------------------
                  Header
----------------------------------------------------
----------------------------------------------------
----------------------------------------------------**/

header#unlogged {
  /* For browsers that do not support gradients */
  background: #65BBC6;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left, #65BBC6, #147871);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(right, #65BBC6, #147871);
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(right, #65BBC6, #147871);
  /* Standard syntax */
  background: linear-gradient(to right, #65BBC6, #147871);
  color: #ffffff;
  height: 70px;
  border-bottom: #FFD66C 7px solid;
}

header#unlogged button {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

header#unlogged li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  line-height: 50px;
}

header#unlogged li:last-child {
  border-right: none;
}

header#unlogged #branding {
  float: left;
}

header#unlogged #branding h1 {
  margin: 0;
}

header#unlogged nav {
  float: right;
  margin-top: 10px;
}

header#unlogged .highlight, header .current a {
  color: #e8491d;
  font-weight: bold;
}

header#unlogged a:hover {
  border-bottom: #FFD66C 2px solid;
}

section.main {
  float: left;
  width: 75%;
}

#branding .logo {
  padding-top: 2px;
}

#newOrder {
  padding-right: 40px;
  border-right: 2px solid #6A2D00;
}

#currentPage {
  border-bottom: #FFD66C 10px solid;
}

.toolbar li button {
  margin-top: 17px;
  padding-bottom: 17.5px;
}

/*--------------------------------------------------
---------------------------------------------------
---------------------------------------------------
                  My Order
----------------------------------------------------
----------------------------------------------------
----------------------------------------------------**/

#sidebar {
  float: right;
  width: 25%;
  position: relative;
}

.docket {
  padding: 15px;
  background: #F9F9E0;
  color: #6A2D00;
  text-align: center;
  height: calc(100vh - 107px);
}

.docket h3 {
  margin-top: 0;
  margin-bottom: 2px;
  font-family: 'Galada', cursive;
  font-size: 30px;
}

button#checkout_btn {
  background-color: #D67DB3;
  color: white;
  padding: 14px 20px;
  margin: 20px;
  border: none;
  cursor: pointer;
  width: ;
  display: inline-block;
  text-align: center;
}

#docketitems {
  padding-top: 20px;
  border-top: #6A2D00 2px dashed;
  height: calc(100vh - 246px);
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: #6A2D00 2px dashed;
}

#total {
  padding-top: 27px;
  border: none;
  float: left;
  width: 49%;
  font-size: 20px;
}

/*--------------------------------------------------
---------------------------------------------------
---------------------------------------------------
                  Menu
----------------------------------------------------
----------------------------------------------------
----------------------------------------------------**/

.content {
  height: calc(100vh - 137px);
  overflow-y: auto;
  overflow-x: hidden;
}

header#menu {
  background: #6A2D00;
  height: 60px;
}

/* Style the tab */

div.tab {
  margin-top: 7px;
  overflow: hidden;
}

/* Style the buttons inside the tab */

div.tab button {
  float: left;
  transition: 0.3s;
  width: 33%;
  color: #FFD66C;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Galada', cursive;
}

div.tab button {
  height: 51.5px;
}

/* Change background color of buttons on hover */

div.tab button:hover {
  border-bottom: #FFD66C 3px solid;
  height: 51.5px;
}

/* Create an active/current tablink class */

div.tab button.active {
  border-bottom: #FFD66C 3px solid;
}

/* Style the tab content */

.tabcontent {
  display: none;
  padding: 12px 12px;
  padding-left: 26px;
  border-top: none;
  width: 100%;
}

.burgerItem {
  width: 180px;
  height: 180px;
  background: #9A4198;
  border: #FFD66C 5px solid;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.itemcontainer {
  width: 19%;
  float: left;
  margin-right: 50px;
  margin-bottom: 60px;
}

.itemcontainer h3 {
  background: #FFD66C;
  /*color: #FFD66C;*/
  text-align: center;
  margin: 0;
  /*font-family: 'Galada', cursive;*/
}

/*Scroll Bar*/

::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #FFD66C;
}

/*--------------------------------------------------
---------------------------------------------------
---------------------------------------------------
                  Past Orders
----------------------------------------------------
----------------------------------------------------
----------------------------------------------------**/

.pastordercontainer {
  /*height: calc(100vh - 78px);*/
}

.pastorderscroll {
  height: calc(100vh - 278px);
  overflow-y: auto;
  overflow-x: hidden;
}

.pastcontent {
  height: calc(100vh - 78px);
  overflow-y: auto;
  overflow-x: hidden;
}

.itemcontainer:hover {
  opacity: 1;
}

.donut:hover {
  width: 90%;
}

/*Modal*/

/* The Modal (background) */

.pastmodal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */

.pastmodal-content {
  background-color: #F9F9E0;
  color: #6A2D00;
  margin: -30px auto 0 auto;
  /* 5% from the top, 15% from the bottom and centered */
  width: 80%;
  /* Could be more or less, depending on screen size */
  text-align: center;
}

.ordertitle {
  margin-top: -15px;
  margin-bottom: 10px;
  padding-top: 10px;
  float: left;
  width: 100%;
  text-align: center;
  background: #6A2D00;
  color: #FFD66C;
  font-size: 30px;
  font-family: 'Galada', cursive;
}

button#order {
  background-color: #D67DB3;
  color: white;
  padding: 14px 20px;
  margin: 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  display: inline-block;
  text-align: center;
}

/*--------------------------------------------------
---------------------------------------------------
---------------------------------------------------
                  My Burgers
----------------------------------------------------
----------------------------------------------------
----------------------------------------------------**/

.myburgerstitle {
  margin-top: -15px;
  /*float: left;*/
  width: 100%;
  text-align: center;
  background: #6A2D00;
  color: #FFD66C;
  font-size: 30px;
  font-family: 'Galada', cursive;
  padding-top: 10px;
}

.myburgercontainer {
  /*height: calc(100vh - 78px);*/
}

.itemcontainer:hover {
  opacity: 1;
}

.donut:hover {
  width: 90%;
}

/*Modal*/

/* The Modal (background) */

.myburgermodal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */

.myburgermodal-content {
  background-color: #F9F9E0;
  color: #6A2D00;
  margin: -30px auto 0 auto;
  /* 5% from the top, 15% from the bottom and centered */
  width: 80%;
  /* Could be more or less, depending on screen size */
  text-align: center;
}

.ordertitle {
  margin-top: -15px;
  margin-bottom: 10px;
  padding-top: 10px;
  float: left;
  width: 100%;
  text-align: center;
  background: #6A2D00;
  color: #FFD66C;
  font-size: 30px;
  font-family: 'Galada', cursive;
}

button#myburgbtn {
  background-color: #D67DB3;
  color: white;
  padding: 14px 20px;
  margin: 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  display: inline-block;
  text-align: center;
}

.myburgerItem {
  width: 70%;
  margin: auto;
}

.date {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}

.name {
 text-align: center;
}

.price {
  float: right;
  margin: 0;
  padding-right: 50px;
}

.myburgAdd {
  margin-top: -4px;
  margin-right: -90px;
  padding: 10px 20px;
  float: right;
  background-color: #D67DB3;
  color: #F9F9E0;
  width: 13%;
}

.myburgerscroll {
  height: calc(100vh - 278px);
  overflow-y: auto;
  overflow-x: hidden;
}

.myburgcase {
  background: #F9F9E0;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(#F9F9E0, #FAF8CF);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(#F9F9E0, #FAF8CF);
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(#F9F9E0, #FAF8CF);
  /* Standard syntax */
  background: linear-gradient(#F9F9E0, #FAF8CF);
  border-bottom: #FAF3C0 4px solid;
  min-height: 44px;
}

.myingredcase {
  background: #6A2D00;
  padding: 20px 0 20px 0;
}

.myburgingred {
  text-align: center;
  color: #FFD66C;
}

/*--------------------------------------------------
---------------------------------------------------
---------------------------------------------------
                  Create Burger
----------------------------------------------------
----------------------------------------------------
----------------------------------------------------**/

/*Button*/

.create-container {
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.create {
  background: #4F2200;
  overflow: hidden;
  text-align: center;
  padding: 15px;
}

.create button {
  color: #F9F9E0;
  font-size: 20px;
}

.whitechoc {
  position: relative;
  top: -2px;
  left: -2px;
}

/*Modal*/

/* Style the tab */

div.createtab {
  float: left;
  width: 70%;
  margin-top: 7px;
  overflow: hidden;
}

/* Style the buttons inside the tab */

div.createtab button {
  float: left;
  transition: 0.3s;
  width: 25%;
  color: #6A2D00;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Galada', cursive;
  height: 51.5px;
}

/* Change background color of buttons on hover */

div.createtab button:hover {
  border-bottom: #FFD66C 3px solid;
  height: 51.5px;
}

/* Create an active/current tablink class */

div.createtab button.active {
  border-bottom: #FFD66C 3px solid;
}

/* Style the tab content */

.createmodal-content {
  background-color: #F9F9E0;
  color: #6A2D00;
  margin: -30px auto 0 auto;
  /* 5% from the top, 15% from the bottom and centered */
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.createBurgercontent {
  display: none;
  padding: 6px 12px;
  border-top: #FAF3C0;
  width: 70%;
  height: 320px;
  overflow-y: auto;
  background: #FAF8CF;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(#FAF8CF, #F9F9E0);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(#FAF8CF, #F9F9E0);
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(#FAF8CF, #F9F9E0);
  /* Standard syntax */
  background: linear-gradient(#FAF8CF, #F9F9E0);
}

.createItem {
  width: 120px;
  height: 120px;
  background: #9A4198;
  border: #FFD66C 5px solid;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.ingredient {
  margin-top: 10px;
}

.ingredient:hover {
  width: 90%;
}

.createcontainer {
  float: left;
  margin-bottom: 60px;
  width: 24%;
}

.createcontainer h3 {
  background: #FFD66C;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.createdocket {
  padding: 15px;
  padding-top: 0;
  padding-right: 30px;
  background: #F9F9E0;
  color: #6A2D00;
  text-align: center;
  height: calc(100vh - 297px);
}

#createdocketitems {
  height: calc(100vh - 370px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  border-top: #6A2D00 2px dashed;
  border-bottom: #6A2D00 2px dashed;
}

#createtotal {
  margin-top: 20px;
  border: none;
  float: left;
  width: 39%;
  font-family: 'Galada', cursive;
}

#createadd_btn {
  background-color: #D67DB3;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 40%;
  display: inline-block;
  text-align: center;
}

/* Center the image and position the close button */

.imgcontainer {
  background: #65BBC6;
  text-align: center;
  margin: 0 0 12px 0;
  position: relative;
  border-bottom: #FFD66C 7px solid;
}

img.avatar {
  width: 25%;
}

.logcontainer {
  padding: 16px;
  width: 46%;
  display: inline-block;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
  background-color: #F9F9E0;
  color: #6A2D00;
  margin: -30px auto 0 auto;
  /* 5% from the top, 15% from the bottom and centered */
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #F9F9E0;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #D67DB3;
  cursor: pointer;
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/*--------------------------------------------------
---------------------------------------------------
---------------------------------------------------
                  Checkout
----------------------------------------------------
----------------------------------------------------
----------------------------------------------------**/

.checktitle {
  margin-top: -15px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  text-align: center;
  background: #6A2D00;
  color: #FFD66C;
  font-size: 30px;
  font-family: 'Galada', cursive;
  padding-top: 10px;
}

button#pay_btn {
  background-color: #D67DB3;
  color: white;
  padding: 14px 20px;
  margin: 20px;
  border: none;
  cursor: pointer;
  float: left;
}

#rcpt {
  text-align: center;
}

#back_btn {
  font-size: 20px;
  border: none;
}

#next_btn {
  font-size: 20px;
  border: none;
}

div.checktab {
  margin-top: 7px;
  overflow: hidden;
}

/* Style the buttons inside the tab */

div.checktab button {
  float: left;
  transition: 0.3s;
  width: 33%;
  color: #FFD66C;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Galada', cursive;
}

div.checktab button {
  height: 51.5px;
}

/* Change background color of buttons on hover */

div.checktab button:hover {}

/* Create an active/current tablink class */

div.checktab button.active {
  border-bottom: #FFD66C 3px solid;
}

.reciept {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  background: #F9F9E0;
}

.reciept h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: #6A2D00;
  font-size: 20px;
  font-family: 'Galada', cursive;
}

.current_order {
  width: 70%;
  margin: auto;
  border-top: #6A2D00 2px dashed;
  padding: 20px;
  text-align: center;
}

.checktotal {
  margin: auto;
  width: 50%;
}

.checktotal h3 {
  padding-top: 22px;
}

/*--------------------------------------------------
---------------------------------------------------
---------------------------------------------------
                  Payment
----------------------------------------------------
----------------------------------------------------
----------------------------------------------------**/

#paynow {
  display: none;
}

#back_btn {
  font-size: 20px;
  border: none;
}

#next_btn {
  font-size: 20px;
  border: none;
}

div.paytab {
  margin-top: 7px;
  overflow: hidden;
}

/* Style the buttons inside the tab */

div.paytab button {
  float: left;
  transition: 0.3s;
  width: 33%;
  color: #FFD66C;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Galada', cursive;
}

div.paytab button {
  height: 51.5px;
}

/* Change background color of buttons on hover */

div.paytab button:hover {}

/* Create an active/current tablink class */

div.paytab button.active {
  border-bottom: #FFD66C 3px solid;
}

.reciept {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  background: #F9F9E0;
}

.reciept h3 {
  text-align: center;
  color: #6A2D00;
  font-size: 30px;
  font-family: 'Galada', cursive;
}

.current_payment {
  width: 70%;
  margin: auto;
  border-top: #6A2D00 2px dashed;
  border-bottom: #6A2D00 2px dashed;
  padding: 20px;
  text-align: center;
  height: calc(100vh - 420px);
  overflow-y: auto;
  overflow-x: hidden;
}

.pay_content {
  height: calc(100vh - 237px);
  overflow-y: auto;
  overflow-x: hidden;
}

.creditCardForm {
  max-width: 700px;
  background-color: #fff;
  margin: 5px auto;
  overflow: hidden;
  padding: 25px;
  padding-bottom: 15px;
  padding-top: 10px;
  color: #4c4e56;
}

.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}

.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 0;
  position: relative;
}

.creditCardForm .payment .form-group {
  float: left;
}

.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}

.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}

.creditCardForm .CVV {
  width: 35%;
}

.creditCardForm #card-number-field {
  width: 100%;
}

.creditCardForm #expiration-date {
  width: 54%;
}

.expdate_label {
  float: left;
}

.creditCardForm #credit_cards {
  width: 46%;
  text-align: right;
}

.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}

.creditCardForm .payment .btn {
  width: 100%;
  margin-top: -10px;
  font-size: 24px;
  background-color: #2ec4a5;
  color: white;
  height: 50px;
}

.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}

.transparent {
  opacity: 0.2;
}

@media(max-width: 650px) {
  .creditCardForm .owner, .creditCardForm .CVV, .creditCardForm #expiration-date, .creditCardForm #credit_cards {
    width: 100%;
  }
  .creditCardForm #credit_cards {
    text-align: left;
  }
}

/*--------------------------------------------------
---------------------------------------------------
---------------------------------------------------
                  Success
----------------------------------------------------
----------------------------------------------------
----------------------------------------------------**/

#success {
  display: none;
}

.progress h4 {
  margin: auto;
}

#success p {
  text-align: center;
  padding-top: 40px;
}

/*--------------------------------------------------
---------------------------------------------------
---------------------------------------------------
                  Loggin
----------------------------------------------------
----------------------------------------------------
----------------------------------------------------**/

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

button#log {
  background-color: #D67DB3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  /*opacity: 0.8;*/
}

.title {
  margin-top: -15px;
  margin-bottom: 10px;
  float: left;
  width: 50%;
  text-align: center;
  background: #6A2D00;
  color: #FFD66C;
  font-size: 30px;
  font-family: 'Galada', cursive;
  padding-top: 10px;
}

/* Center the image and position the close button */

.imgcontainer {
  /* For browsers that do not support gradients */
  background: #65BBC6;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(right, #147871, #65BBC6);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left, #147871, #65BBC6);
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(left, #147871, #65BBC6);
  /* Standard syntax */
  background: linear-gradient(to left, #147871, #65BBC6);
  text-align: center;
  margin: 0 0 12px 0;
  position: relative;
  border-bottom: #FFD66C 7px solid;
}

img.avatar {
  padding-top: 10px;
  width: 18%;
}

.logcontainer {
  padding: 16px;
  width: 46%;
  display: inline-block;
}

.signcontainer {
  padding: 16px;
  width: 46%;
  display: inline-block;
  border-left: 2px solid #65BBC6;
  margin-bottom: 20px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
  background-color: #F9F9E0;
  color: #6A2D00;
  margin: -50px auto 0 auto;
  width: 80%;
}

/* The Close Button (x) */

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #F9F9E0;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #D67DB3;
  cursor: pointer;
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
